<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">⌂ SkillVenture</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="about">About us</a></li>
    {{#if username }}
    <li><a href="profile">{{username}}</a></li>
    <li><a href="logout">logout</a></li>
    {{else}}
    <li><a href="signup">signup</a></li>
    <li><a href="login">login</a></li>
    {{/if}}
  </ul>
</div>