<!doctype html>
<html lang="en">




<head>
  <title>SkillVenture: {{ title }}</title>
 
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="CS361 Group23 Project: SkillVenture"/>
  <meta name="author" content="Andrew, Jennifer, Mario, Sean, Anmolbir">
  <meta name="customer" content="Chistopher Scott Garoutte">

   <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/homestylesheet.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	


  	<!-- testing this out -->
	{{#each jsscripts}}
    <script src="/scripts/{{this}}"></script>
    {{/each}}

</head>
<nav class="navbar navbar-inverse">
  {{>nav}}
</nav>
<body>

	{{{body}}}




</body>
</html>
