<!doctype html>
<html lang="en">




<head>
  <title>CS361 Group23 Project</title>
 
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="CS290 Final Project"/>
  <meta name="author" content="Mario">  

   <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	


  	<!-- testing this out -->
	{{#each jsscripts}}
    <script src="{{this}}"></script>
    {{/each}}







</head>

<body>

	{{{body}}}




</body>
</html>
