

<head>
  <link rel="stylesheet" href="styles/homestylesheet.css" type="text/css">
</head>


<body>

<!-- citation: boostrap Navigation Bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">XXXXXX</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="XXXXXXXXX">XXXXXXXXXX</a></li>
      <li><a href="XXX">XXXXX</a></li>
    </ul>
  </div>
</nav>





</body>




