<div class="container">
    <h2>Search Results</h2>
    {{#each opportunities}}
        <ul>
            <li>{{title}}</li>
        </ul>
    {{else}}
        <h3>No opportunities found.</h3>
    {{/each}}
    <button><a href="/search">Back to Search</a></button>
</div>
