<!-- Search Bar -->
<div class="container search">
    <h1>Search for student opportunities</h1>
    <form>
        <div class="row align-items-center">
            <div class="col">
                <label for="title">What</label>
                <input type="text" name="title" value="i.e. chemistry">
            </div>
            <div class="col">
                <label for="location">Where</label>
                <input type="text" name="location" value="Location">
            </div>
            <div class="col">
                <input type="submit" value="Find Opportunities">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">title, subject, keywords, or company</div>
            <div class="col">location: city, state, or zip </div>
        </div>
    </form>
</div>

<!-- Search Results: -->

<div class="container search_results">
    <h2>Search Results</h2>
    {{#each result}}
        <ul>
            <li>{{title}}</li>
        </ul>
    {{/each}}
</div>