
<div class="container">
  <h1> Login to your a SkillVenture Account </h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <input type="text" name="username" value="username"></input>
    </div>
    <div class="row justify-content-md-center">
      <input type="password" name="password" value="password"></input>
    </div>
    <div class="row">
      <button class="btn">Login</button>
    </div>
  </div>

</div>