
<div class="container">
  {{#if username}}
  {{else}}
  <h1> Login to your a SkillVenture Account </h1>
  {{#if login_error}}
    <style>p {color: red}</style>
    <p>Invalid login credentials or error occured!</p>
  {{/if}}
  <div class="container">
    <form action="/login" method="post">
      <div class="row justify-content-md-center">
        <input type="text" name="username" value="username"></input>
      </div>
      <div class="row justify-content-md-center">
        <input type="password" name="password" value="password"></input>
      </div>
      <div class="row">
        <input type="submit" name="new_login" class="btn" value="login"></input>
      </div>
    </form>
  </div>
  {{/if}}
</div>