

<div class="container" id="profileform">

 
  <form id="add_opportunity" action="professional_portal/add_opportunity" method="post">
  <legend>Add an job shadowing/mentorship opportunity to the site!</legend>
  Title: <input type="text" name = "opportunity">

  Location (City, State): <input type="text" name = "location">

  Industry: <select type="text" name= "industry">
    <option value="medical">Health Care</option>
    <option value="education">Education</option>
    <option value="Buisness">Buisness</option>
    <option value="Construction">Construction</option>
    <option value="Plumming">Plumming</option>
    <option value="HVAC">HVAC</option>
    <option value="other">other</option>
  </select>
  <br />

  <textarea name="description" style="width: 500px; height:200px; font-size: 12px";>
  Enter description of mentorship/job shadowing opportunity here...</textarea>
  <br>

  
  <input type="submit" name="opportunity_posting" value="Post opportunity!" class="btn btn-success">



  </form>
</div>