
<div class="container" id="stdorp">
  <h1> Signup for a SkillVenture Account </h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <h3> Are you a Student or a Professional </h3>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <button class="btn" id="studentbtn">Student</button>
      </div>
      <div class="col col-lg-3">
        <button class="btn" id="professionalbtn">Professional</button>
      </div>
    </div>
  </div>

</div>