
<div class="container" id="stdorp">
  <h1> Signup for a SkillVenture Account </h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <h3> Are you a Student or a Professional </h3>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <button class="btn" id="studentbtn">Student</button>
      </div>
      <div class="col col-lg-3">
        <button class="btn" id="professionalbtn">Professional</button>
      </div>
    </div>
  </div>
</div>

<div class="container" id="studentform">
  <h1>Create your Student Account</h1>
  <form action="/signup" method="post">

    <input type="text" name="fname" value="First Name" onblur="blurInput(this, 'First name')" onfocus="focusInput(this)">
    <input type="text" name="lname" value="Last Name" onblur="blurInput(this, 'Last name')" onfocus="focusInput(this)">

    <input type="text" name="age" value="Age" onblur="blurNumInput(this, 'Age')" onfocus="focusNumInput(this)">

    <input type="text" name="grade" value="Grade" onblur="blurNumInput(this, 'Grade')" onfocus="focusNumInput(this)">

    <input type="text" name="sname" value="School" onblur="blurInput(this, 'School')" onfocus="focusInput(this)">

    <input type="text" name="username" value="Username" onblur="blurInput(this, 'Username')" onfocus="focusInput(this)">
    <input type="email" name="email" value="E-mail" onblur="blurInput(this, 'E-mail')" onfocus="focusInput(this)">
    <input type="password" name="password" value="password" onblur="blurInput(this, 'password')" onfocus="focusInput(this)">

    <input type="submit" name="student_signup" value="Signup" class="btn btn-success">
  </form>
  <button class="btn btn-warning" id="stdcancel">Cancel</button>
</div>

<div class="container" id="professionalform">
  <h1>Create your Professional Account</h1>
  <form action="/signup" method="post">
    <input type="text" name="fname" value="First Name" onblur="blurInput(this, 'First name')" onfocus="focusInput(this)">
    <input type="text" name="lname" value="Last Name" onblur="blurInput(this, 'Last name')" onfocus="focusInput(this)">

    <input type="text" name="cname" value="Company" onblur="blurInput(this, 'Company')" onfocus="focusInput(this)">

    <input type="text" name="username" value="Username" onblur="blurInput(this, 'Username')" onfocus="focusInput(this)">
    <input type="email" name="email" value="E-mail" onblur="blurInput(this, 'E-mail')" onfocus="focusInput(this)">
    <input type="password" name="password" value="password" onblur="blurInput(this, 'password')" onfocus="focusInput(this)">
    <input type="submit" name="professional_signup" value="Signup" class="btn btn-success">
  </form>
  <button class="btn btn-warning" id="prfcancel">Cancel</button>
</div>