body {
	background: #b0d0d0;
}

h1{
  font-weight: bolder;
}

input {
  display: block;
  font-size: 1.4em;
  font-weight: bolder;
  border: none;
  margin: 0.2vh 0.5vw;
  padding: 0.2vh 0.5vw;
  background: #b0c0c0;
}

label {
  display: inline;
  font-size: 1.4em;
  font-weight: bolder;
  border: none;
  padding-top: 0.4vh;
  text-align: right;
}

button {
  margin: 0.2vh 0.5vw;
  padding: 0.2vh 0.5vw;
  
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: auto;
    height: 350px;
    margin: auto;
}


.rounded-circle {
    border-radius: 50% !important;
}

.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 139, 34);
    border-color: rgb(108, 117, 125);
}